@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Mã sinh viên: 2310900006</p>
<p>Họ và tên: Nguyễn Công Quyền Anh</p>
<p>Email: quyenanhxz@gmail.com</p>
<p>Ngày sinh: 23/11/2005</p>
<p>Lớp: K23CNT2</p>